.calc {
	border: 2px solid grey;
	width: 290px;
	padding: 5px;
	background-color: LightGrey;
	border-radius: 15px;
	margin: 50px;
}

body {
	display: flex;
	justify-content: center;
}

.title {
	margin-top: 5px;
	padding: 5px;
	color: black;            
	text-decoration: underline;     
    text-decoration-color: green;  
	font-family: monospace;
	font-size: 20px;
	margin-bottom: -10px;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 70px);
	grid-template-rows: repeat(5, 50px);  
	grid-template-areas: 
		"clear clear backspace backspace"
		"seven eight nine divide"
		"four five six multi"
		"one two three minus"
		"zero dot equal plus";
	margin-bottom: -15px;
}

button {
	border-radius: 8px;
	font-weight: bold;
	background-color: white;
}

#button-0 {
	grid-area: zero;
}
#button-1 {
	grid-area: one;
}
#button-2 {
	grid-area: two;
}
#button-3 {
	grid-area: three;
}
#button-4 {
	grid-area: four;
}
#button-5 {
	grid-area: five;
}
#button-6 {
	grid-area: six;
}
#button-7 {
	grid-area: seven;
}
#button-8 {
	grid-area: eight
}
#button-9 {
	grid-area: nine;
}
#button-plus {
	grid-area: plus;
}
#button-minus {
	grid-area: minus;
}
#button-multi {
	grid-area: multi;
}
#button-divide {
	grid-area: divide;
}
#button-clear {
	grid-area: clear;
}
#button-equal {
	grid-area: equal;
}
#button-backspace {
	grid-area: backspace;
}
#button-dot {
	grid-area: dot;
}

#button-equal,
#button-divide,
#button-multi,
#button-minus,
#button-plus {
	background-color: LightYellow;
}

#button-clear,
#button-backspace {
	background-color: MintCream;
}

#display {
	border: 2px solid black;
	background-color: green;
	text-align: end;
	width: 275px;
	height: 40px;
	margin-top: 2px;
	border-radius: 3px;
}